node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.production
.env.*.local
.netlify/
.vercel
.sanity/
dist-studio/
convex/_generated/
logs
*.log
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
